<div class="container-fluid dashboard">
	<div class="row row-border breadcrumb">
		<div class="col-xs-2 col-md-2 ">Trader Desktop</div>
		<div class="col-xs-2 col-md-2 col-md-offset-7"><span ng-bind="vm.name" class="pull-right"></span></div>
		<a class="col-xs-1 col-md-1" ng-click="vm.signOut()">Sign Out</a>
	</div>
	<div class="row">
		<button class="btn" data-toggle="modal" data-target="#createOrder">Trade</button>
		<button class="btn" ng-click="vm.deleteAll()">Delete All</button>
		<button class="btn" ng-click="vm.refresh();">Refresh</button>
	</div>
	<div class="row">
		<table class="table table-striped">
			<tr>
				<th>Id</th><th>Creation Time</th><th>Side</th><th>Symbol</th><th>Quantity</th><th>Placed</th><th>Executed</th><th>Limit Price</th><th>Priority</th><th>Status</th><th>Trader</th>
			</tr>
			<tr ng-repeat="order in vm.orderList">
				<td><span ng-bind="order.id"></span></td>
				<td><span ng-bind="order.creationTime"></span></td>
				<td><span ng-bind="order.side"></span></td>
				<td><span ng-bind="order.symbol"></span></td>
				<td><span ng-bind="order.quantity"></span></td>
				<td><span ng-bind="order.quantityPlaced"></span></td>
				<td><span ng-bind="order.quantityExecuted"></span></td>
				<td><span ng-bind="order.limitPrice"></span></td>
				<td><span ng-bind="order.priority"></span></td>
				<td><span ng-bind="order.status"></span></td>
				<td><span ng-bind="order.traderId"></span></td>
			</tr>
		</table>
	</div>

	<div class="modal fade" id="createOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Create Multiple Trades</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="form-group">
	        		<label>Enter number of trades</label>
    				<input type="text" class="form-control" ng-model="vm.tradeCount">
	        	</div>
	        </form>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn" ng-click="vm.createOrder()">Create</button>
	        <button type="button" class="btn" data-dismiss="modal" >Cancel</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>