.dashboard{
	margin-top:20px;
	.row-border{
		border-bottom: 2px solid #999
	}
	a{
		color: #0000ff;
		text-decoration: none;
		cursor: pointer;
	}
	.row{
		.btn{
			background:#000;
			color:#fff;
		}
	}
}